<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeepKillingCULPRIT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KeepKillingCULPRIT.Properties.Settings>
            <setting name="windowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="windowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="wordpocText" serializeAs="String">
                <value />
            </setting>
        </KeepKillingCULPRIT.Properties.Settings>
    </userSettings>
</configuration>